<h2>Login</h2>

<form style="padding: 15px; border: 1px solid #A1A1A1; width: 50%; margin: 0 auto;" class="" action="login" method="post">
  Email:
  <input type="text" name="email" value="">
  <br>
  <br>
  Password:
  <input type="password" name="password" value="">

  <input type="submit" name="signup" value="Login">
</form>
