<h2>Sign up</h2>

<form style="padding: 15px; border: 1px solid #A1A1A1; width: 50%; margin: 0 auto;" class="" action="signup" method="post">
  <label for="email">Email</label>
  <input id="email" type="text" name="email" value="" required>
  <br>
  <br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" value="" required>

  <input type="submit" name="signup" value="Sign Up !">
</form>
